@import "variables.scss";
@import "functions.scss";

//? ---- RESET ---- ?//
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

picture {
  display: flex;

  img {
    max-width: 100%;
  }
}

#container-all {
  position: relative;

  width: 100vw;
  height: 100vh;

  background-color: $c-black;

  scroll-behavior: smooth;

  overflow: hidden;
  overflow-y: scroll;
}

//? ---- LAYOUT ---- ?//
.container {
  width: $container-maxwidth;
  max-width: $container-maxwidth;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.section {
  min-height: calc(100vh - 1.5rem);
  padding: 5rem 0;

  @include phoneSize {
    width: calc(100% - 2rem);
    margin: 0 auto;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-self: center;
}

.bordered {
  border-radius: 2rem;
  border: 1px solid darken($c-dist, 40%);
  box-shadow: 0px 0px 10px -1px darken($c-dist, 40%);
}

.inputWrapper {
  padding: 0.25rem 0.5rem;

  .input {
    border: none;
    background-color: transparent;

    color: $c-white;

    font-family: $f-main;

    option {
      color: $c-black;
    }
  }
}

.button {
  padding: 0.75rem 1.25rem;
  margin-top: 0.5rem;

  border-radius: 2rem;
  border: 2px solid transparentize($c-main-dark, 0.9);

  background-color: transparentize($c-main-dark, 0.5);

  font-size: $f-size-normal;
  color: $c-white;

  transition: 0.3s;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    background-color: transparentize($c-main-dark, 0.15);
  }

  &.--main {
    background-color: transparentize($c-dist, 0.5);

    @include phoneSize {
      display: flex;
    }

    &:hover {
      background-color: transparentize($c-dist, 0.15);
    }
  }
}

.neon-title {
  font-family: $f-title !important;
  font-weight: normal;
  color: lighten(#f6981aff, 50%);
  text-shadow: 0 0 20px $c-dist, 0 0 30px $c-dist, 0 0 40px $c-dist,
    0 0 70px $c-dist, 0 0 80px $c-dist, 0 0 100px $c-dist, 0 0 150px $c-dist;
  letter-spacing: 2px;

  &.--lite {
    text-shadow: 0 0 20px $c-dist, 0 0 30px $c-dist, 0 0 40px $c-dist,
      0 0 70px $c-dist;
  }

  .neon {
    will-change: opacity;

    &.blinker {
      animation: blinker linear infinite;

      &.blinker_1 {
        animation-duration: random_range(1s, 11s);
      }

      &.blinker_2 {
        animation-duration: random_range(2s, 8s);
      }
    }

    &.flicker {
      animation: flicker linear infinite random_range(2s, 3s);
    }
  }

  @keyframes blinker {
    70% {
      opacity: 1;
    }
    79% {
      opacity: 0;
    }
    81% {
      opacity: 1;
    }
    82% {
      opacity: 0;
    }
    83% {
      opacity: 1;
    }
    92% {
      opacity: 1;
    }
  }

  @keyframes flicker {
    20% {
      opacity: 1;
    }
    80% {
      opacity: 0.8;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;

  &__bubble {
    width: 0.75rem;
    height: 0.75rem;
    margin: 2rem 0.3rem;
    background: $c-dist;
    border-radius: 50%;
    animation: 0.9s bounce infinite alternate;

    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      animation-delay: 0.6s;
    }

    @keyframes bounce {
      to {
        opacity: 0.5;
        transform: translate3d(0, -1rem, 0);
      }
    }
  }
}

.notFound {
  color: $c-dist;

  font-family: $f-main;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__iconWrapper {
    padding: 0.25rem;
    border-radius: 50%;
    aspect-ratio: 1/1;

    .notFound__icon {
      font-size: $f-size-xxbig;
    }
  }

  &__title {
    font-size: $f-size-xlarge;
  }

  &__message {
    text-align: center;
  }
}

.filters {
  margin-bottom: 3rem;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  @include screenSize {
    justify-content: center;
    width: calc(100% - 2rem);
  }

  .filter {
    height: 28px;
    padding: 0 0 0 0.5rem;
    border: 2px solid transparentize($c-main-dark, 0.9);
    border-radius: 2rem;
    background-color: $c-main-alt;

    font-size: $f-size-small;
    font-family: $f-main;
    color: $c-white;

    overflow: hidden;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    .input {
      font-size: $f-size-small;
    }

    &.button {
      margin: 0;
      padding: 0 1rem;

      background-color: $c-main;

      color: $c-white;

      transition: 0.3s;

      &:hover {
        background-color: $c-main-alt;
      }

      button {
        color: $c-white;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
      }
    }

    .inputWrapper {
      padding: 0.25rem 0.5rem 0.25rem 0.5rem;
      background-color: $c-main;

      &:focus-within {
        background-color: $c-main-alt;
      }
    }
  }
}

//? ---- GENERAL ---- ?//
.header {
  position: fixed;

  width: 100%;
  padding: 0.5rem;

  background-color: $c-black;

  color: $c-white;

  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tabletSize {
    // display: none;
  }

  &__wrapper {
    justify-content: center;
  }

  .navbar {
    &__wrapper {
      display: flex;
      gap: 0.25rem;
    }

    &__item {
      position: relative;
      padding: 0.25rem 0.5rem;
      color: $c-dist;
      font-size: $f-size-normal;

      border-radius: 2rem;
      border: 2px solid transparent;

      transition: 0.3s;

      z-index: 1;

      display: flex;
      justify-content: center;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;

        width: 0;
        height: 2px;
        background-color: $c-dist;
        transition: 0.2s;

        z-index: 2;
      }

      &:hover,
      &:focus {
        &::before {
          width: 100%;
        }
      }
    }
  }
}

.hero {
  height: 100vh;
  width: 100%;

  &__wrapper {
    position: relative;
    width: 100vw;
    height: 100%;

    background-image: url("https://images.unsplash.com/photo-1528100315649-ebfe49f792a6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    z-index: 1;

    display: flex;
    justify-content: space-evenly;
    gap: 1rem;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      backdrop-filter: blur(5px);

      width: 100%;
      height: 100%;
      background: linear-gradient(
        45deg,
        transparentize($c-black, 0.1),
        transparentize($c-main-dark, 0.5)
      );

      z-index: 2;
    }
  }

  &__data {
    position: relative;

    width: 100%;
    margin: 0 auto;
    height: 100%;

    overflow: hidden;

    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
      font-size: $f-size-xxxbig;

      @include responsiveSize(555px) {
        font-size: $f-size-xbig;
      }

      @include phoneSize {
        font-size: $f-size-big;
      }
    }

    &__desc {
      width: min(500px, calc(100% - 2rem));
      font-family: $f-main;
      color: $c-white;
      font-weight: 900;

      margin-bottom: 0.5rem;
      text-align: center;

      p {
        font-size: $f-size-xnormal;

        @include phoneSize {
          display: none;
        }

        &.main {
          color: $c-dist;
          font-size: $f-size-xnormal;

          @include phoneSize {
            display: flex;
          }
        }
      }
    }

    .actions {
      padding-top: 1.5rem;
      display: flex;
      gap: 0.25rem;

      &__btn {
        @include phoneSize {
          display: none;
        }

        .icon {
          font-size: $f-size-xnormal;
        }

        &.--main {
          @include phoneSize {
            display: flex;
          }
        }
      }
    }
  }
}

.cocktails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: $f-size-big;
    text-align: center;
    margin-bottom: 0.5rem;

    @include phoneSize {
      font-size: $f-size-xlarge;
    }
  }

  &__wrapper {
    width: 1024px;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    @include screenSize {
      width: 700px;

      grid-template-columns: repeat(4, 1fr);
    }

    @include tabletSize {
      width: calc(100% - 2rem);

      grid-template-columns: repeat(3, 1fr);
    }

    @include phoneSize {
      grid-template-columns: repeat(2, 2fr);
    }

    .cocktail {
      width: 100%;
      padding: 0.5rem 0.5rem 0 0.5rem;

      @include phoneSize {
        padding: 0.25rem 0.25rem 0 0.25rem;
      }

      border-radius: 0.5rem;
      background-color: transparentize($c-main, 0.5);
      border: 1px solid transparentize($c-main, 0.25);

      cursor: pointer;

      transition: 0.3s;

      overflow: hidden;

      &:hover {
        background-color: transparentize($c-main, 0.55);

        .cocktail__image {
          img {
            filter: blur(2px);
            transform: scale(1.1);
          }
        }
      }

      &__image {
        position: relative;

        border-radius: 0.5rem;

        overflow: hidden;

        display: flex;
        flex-direction: column;

        img {
          border-radius: 0.5rem;
          filter: blur(0px);

          transition: 0.3s ease-in-out;
        }

        p {
          position: absolute;
          bottom: 0.35rem;
          left: 0.35rem;

          font-size: $f-size-small;
          color: transparentize($c-white, 0.5);
        }
      }

      &__data {
        padding: 0.25rem 0.5rem;

        @include phoneSize {
          padding: 0.25rem 0;
        }

        font-family: $f-main;

        display: flex;
        align-items: center;
      }

      &__title {
        color: $c-dist;
        font-size: $f-size-small;
        line-height: 1.25rem;
      }

      &__ingredients {
        margin: 0.25rem 0 0.75rem 0;
        display: flex;
        gap: 0.25rem;

        .ingredient {
          padding: 0.15rem 0.5rem;
          border-radius: 1rem;

          border: 1px solid $c-main-alt;
          background-color: transparentize($c-main, 0.5);

          font-size: $f-size-small;
          color: $c-white;

          cursor: pointer;

          transition: 0.3s;

          &:hover {
            background-color: $c-main;
          }
        }
      }
    }
  }
}

.cocktailDetail {
  width: 100%;
  padding: 3rem 1rem 1rem 1rem;

  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .cocktail {
    width: min(1024px, calc(100% - 2rem));
    padding: 0.5rem 1.5rem;

    @include tabletSize {
      padding: 1rem;
    }

    @include phoneSize {
      width: calc(100%);
      padding: 0.5rem;
    }

    border-radius: 0.5rem;
    background-color: transparentize($c-main, 0.5);
    border: 1px solid transparentize($c-main, 0.25);

    font-family: $f-main;

    transition: 0.3s;

    display: flex;
    align-items: flex-start;
    gap: 1.5rem;

    @include screenSize {
      flex-direction: column;
    }

    @include phoneSize {
      gap: 0.25rem;
    }

    &__wrapper {
      max-width: 100%;
    }

    &__image {
      position: relative;
      min-width: 350px;
      width: 500px;
      border: 0.5rem;

      @include tabletSize {
        width: min(350px, 100%);
        min-width: 0px;
        margin: 0 auto;
      }

      overflow: hidden;

      z-index: 1;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        width: 100%;
        max-width: 100%;

        border-radius: 0.5rem;

        z-index: 1;

        filter: blur(0);
        transition: 0.3s ease-in-out;
      }

      p {
        position: absolute;
        bottom: 0.35rem;
        left: 0.35rem;

        font-size: $f-size-small;
        color: transparentize($c-white, 0.5);

        z-index: 2;
      }
    }

    &__title {
      color: $c-dist;
      font-size: $f-size-large;
      line-height: 2.25rem;
      margin-bottom: 0.5rem;

      @include tabletSize {
        font-size: $f-size-xnormal;
      }
    }

    &__sec {
      margin-bottom: 0.5rem;

      display: flex;
      flex-direction: column;

      h4 {
        font-size: $f-size-xnormal;
        color: transparentize($c-dist, 0.15);
      }

      p,
      li {
        font-size: $f-size-normal;
        color: transparentize($c-white, 0.15);
      }

      .ingredients {
        &__list {
          padding: 0.5rem 0.5rem 0.5rem 0;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;

          @include phoneSize {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
          }

          .ingredient {
            padding: 0.5rem 0.25rem;

            border-radius: 1rem;
            border: 1px solid $c-main-alt;
            background-color: transparentize($c-main, 0.85);

            font-size: $f-size-small;
            color: transparentize($c-white, 0.5);

            cursor: pointer;

            display: flex;
            align-items: center;
            flex-direction: column-reverse;

            img {
              width: 115px;

              @include tabletSize {
                width: 75px;
              }
            }

            &:hover {
              background-color: transparentize($c-main, 0.75);
            }
          }
        }
      }

      .measures {
        &__list {
          padding-left: 3rem;

          .measure {
            list-style: disc;
          }
        }
      }
    }

    .badges {
      margin-bottom: 1rem;

      display: flex;
      gap: 0.25rem;

      &__item {
        padding: 0.15rem 0.5rem;
        border-radius: 1rem;

        border: 1px solid $c-main-alt;
        background-color: transparentize($c-main, 0.85);

        font-size: $f-size-small;
        color: $c-white;

        cursor: pointer;

        transition: 0.3s;

        &:hover {
          background-color: transparentize($c-main, 0.75);
        }
      }
    }
  }
}

.footer {
  height: 1.5rem;
  padding: 0 1rem;

  font-family: $f-main;
  font-size: $f-size-small;

  color: $c-dist;

  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
  }

  &__copy {
    text-align: center;

    a {
      color: $c-dist;
    }
  }
}
