@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans/NotoSans-VariableFont_wdth\,wght.ttf");
}

* {
  font-family: "Noto Sans";
}

.header {
  background-color: purple;

  &__title {
    font-size: 3rem;
    color: whitesmoke;
  }
}
